*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.marT5{
	margin-top: 5px;
}
.marT7{
	margin-top: 7px;
}
.marT10{
	margin-top: 10px;
}
.marT20{
	margin-top: 20px;
}
.marB8{
	margin-bottom: 8px;
}
.marB15{
	margin-bottom: 15px;
	padding-left: 120px;
}
.marL20{
	margin-left: 20px;
}
.marL60{
	margin-left: 60px;
}
.padL10{
	padding-left: 10px ;
}
.padL50{
	padding-left: 50px !important;
}
.right{
	text-align: right;
	margin-right: 100px;
	margin-top: 10px;
}
/*定义的select的选择框的宽度*/
.sel{
	width: 100px;
}
.sel_chart{
	width:120px;
}
.ipt{
	width: 230px !important;
}
.ipts{
	width: 80px;
}
/*控制vlan的选择的日志对话框*/
.v-modal{
	z-index: 1 !important;
}
/*日志里input的宽度*/
.ipt_sels2{
	width: 150px;
}
.ipt_sels{
	width: 300px;
}
.port_sel{
	width: 300px !important;
}
.el-dialog{
	width: 700px;
	border-radius: 10px;
}
.el-dialog__header{
	border-bottom: 1px solid #CCCCCC ;
}
.cli_spn{
	cursor: pointer;
	color: #0B66F4;
}
/*校验的规则*/
.cli_toTip{
	cursor: pointer;
	color: #FC0702 !important;
	display: inline-block;
}
/*顶部搜索工具栏部分*/

/*状态选择部分*/
.ipt_sta{
	width: 120px;
}

/*表格数据的宽度*/
.bor_wid{
	width: 100%;
}

/*标题部分*/
.title_h3{
	font-size: 16px;
	color: #494646;
	font-weight: 550;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background:#D3D3D3 ;
	border-radius: 5px;
	margin-bottom: 5px;
	/*padding-left: 20px ;*/
	/*display: inline-block;*/
}
.title_h4{
	padding-left: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*业务开通的时候需要的样式*/
.pos_row{
	position: fixed;
	right: 17px;
	/*height: 450px;*/
	/*overflow: auto;*/
}
.label_tit{
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
}
.tit_h3{
	text-align: center;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background:#D3D3D3 ;
	border-radius: 5px;
	margin-bottom: 5px;
}
.backCreat{
	display: inline-block;
	color: #FFFFFF;
	/*font-size: 14px;*/
	width: 100%;
	height: 100%;
	background-color: #0631FD;
}
.backRun{
	display: inline-block;
	color: #FFFFFF;
	/*font-size: 14px;*/
	width: 100%;
	height: 100%;
	background-color: #76C470;
}
.backStop{
	display: inline-block;
	color: #FFFFFF;
	width: 100%;
	height: 100%;
	background-color:#AAAFB2;
}
.backWarn{
	display: inline-block;
	color: #FFFFFF;
	width: 100%;
	height: 100%;
	background-color: #F06C73;
}


.statusUP{
	color: #20A0FF;
}
.statusDOWN{
	color: #F56C6C;
}
.statusAbno{
	color: #E6A23C;
}
.el-badge__content.is-fixed{
	top:18px;
}

.table-top{
	text-align: right;
}
.tc_L{
	text-align: center;
}
/*逻辑口的状态的对应的颜色*/
.colorGreen{
	color: #409EFF;
}
.colorRed{
	color:#F56C6C ;
}
.colorWarning{
	color:#E6A23C;
}
.el-button--mini, .el-button--mini.is-round {
	padding: 7px 2px ;
}
.el-button+.el-button{
	margin-left: 1px;
}
.el-table .cell, .el-table th div{
	padding-left: 2px;
	padding-right: 2px;
}



/*云开通和详情界面的里面的*/
.tc_img{
	width: 570px;
}
.span_toTip{
	display: inline-block;
	color:#FD042B;
	margin: 0 5px;
}
.cur_span{
	font-size: 12px;
	display: inline-block;
	background-color: #67C23A;
	cursor: pointer;
	border-radius: 6px;
	width: 40px;
	height: 24px;
	line-height: 24px;
	text-align: center;
}
.span_left_tit{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid ;
	border-radius:10px ;
	color: #000000;
	font-weight: 300;
}
.span_tit_one{
	background-color: #009DD9;
}
.span_tit_two{
	background-color: #FFFF00;
}
.span_tit_three{
	background-color: #66FF00;
}
.span_tit_four{
	background-color: #FF00FF;
}
.spn_color{
	color: #fff;
}

/*链路tabel 端口部分的显示*/
.link_port{
	cursor: pointer;
	white-space: normal;
	height: 100%;
}
